@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

a {
  text-decoration: none;
  color: #FFFFFF;
}
/*Tianxing*/
/*hi tianxing :)*/

a:visited {
  text-decoration: none;
}

body > #root > div {
  height: 100vh;
}

body {
  font-family: 'Nunito', sans-serif;
  overflow: auto;
}

h1 {
  font-family: 'Alegreya', serif;
  font-size: 36px;
  font-weight: 300;
  margin-top: 15px;
  margin-bottom: 2px;
}

h2 {
  font-family: 'Alegreya', serif;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 2px;
}

hr {
  width:100%;
  border: 1px dashed #9CBDBD;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 74px;
  width: 100%;
  background-color: #124040;
}

.header__logo {
  cursor: pointer;
  font-family: 'Alegreya', serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  width: 175px;
  margin-left: 6px;
  font-size: 36px;
  color: #FFFFFF;
}

.header__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__signinup {
  margin-right: 2px;
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
  padding: 22px;
  text-decoration: none;
  transition-duration: 0.2s;
  cursor: pointer;
}

.header__signinup:hover {
  background-color: #9CBDBD;
  transition-duration: 0.2s;
}

.signout__button {
  padding: 0px;
  margin-right: 2px;
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #124040;
  padding: 23px;
  text-decoration: none;
  transition-duration: 0.2s;
  border: none;
  cursor: pointer;
}

.signout__button:hover {
  background-color: #9CBDBD;
  transition-duration: 0.2s;
}

.frontpage {
  overflow: auto;
  display: flex;
  margin: 15vh auto 0;
  width: 80vw;
  height: 100%;
}

.frontpage__block {
  width: 1300px;
  height: auto;
  margin: 0 auto;
}

.frontpage__title {
  font-family: 'Alegreya', serif;
  position: absolute;
  width: 800px;
  font-size: 82px;
  color: #000000;
}

.frontpage__subtitle {
  position: absolute;
  width: 200px;
  margin-top: 230px;
  font-size: 20px;
  font-weight: 600;
  color: #000000;
}

.frontpage__img {
  position: absolute;
  width: 350px;
  height: auto;
  margin: 200px 0px 0px 500px;
}

.frontpage__background {
  position: absolute;
  width: 1440px;
  height: 950px;
  left: 0px;
  top: 74px;
}

.login__form__area {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
  height: auto;
  margin: 70px 0px 0px 900px;
  border: 2px solid #9CBDBD;
  border-radius: 3px;
}

.login__form__title {
  font-family: 'Alegreya', serif;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px 0px;
  font-size: 36px;
  color: #000000;
}

.login__form__title hr {
  width: 90px;
  margin: 0px 10px;
  border: 1px solid #9CBDBD;
}

.login__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
}

::placeholder { 
  padding-left: 5px;
  color: #9CBDBD;
}

label {
  padding-bottom: 10px;
}

.login__form label {
  width:90%;
}

.login__form input:not(.submit__button) {
  font-family: 'Nunito', sans-serif;
  width: 100%;
  height: 30px;
  margin-top: 10px;
  border: 1px solid #9CBDBD;
  font-size: 14px;
  font-weight: 550;
  border-radius: 3px;
}

.submit__button {
  width: 150px;
  height: auto;
  margin: 10px 0px 25px 0px;
  padding: 8px 0px;
  background-color: #124040;
  font-size: 16px;
  color: #FFFFFF;
  border: 4px solid #124040;
  border-style: outset;
  border-radius: 3px;
}

.submit__button:hover {
  cursor: pointer;
  background-color: #9CBDBD; 
  border: 4px solid #9CBDBD;
  border-style: inset;
}

.register__form__area {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
  height: auto;
  margin: 70px 0px 0px 900px;
  border: 2px solid #9CBDBD;
  border-radius: 3px;
}

.register__form__title {
  font-family: 'Alegreya', serif;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px 0px;
  font-size: 36px;
  color: #000000;
}

.register__form__title hr {
  width: 90px;
  margin: 0px 10px;
  border: 1px solid #9CBDBD;
}

.register__form { 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
}

.register__form label {
  width:90%;
}

.register__form input:not(.submit__button) {
  width:100%;
  font-family: 'Nunito', sans-serif;
  height: 30px;
  margin-top: 10px;
  border: 1px solid #9CBDBD;
  font-size: 14px;
  font-weight: 550;
  border-radius: 3px;
}

.register__names {
  width:90%;
  display: flex;
  flex-direction: row;  
  justify-content: space-between;
  align-items: center;
}

.register__names label {
  display: inline-block;
  width: 47%;
}

.background {
  background-image: url(./images/Background.svg);
  background-size: cover;
  min-height: calc(100vh - 74px);
  display: flex;
  justify-content: center;
  background-attachment: fixed;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 6vh;
  height: 84vh;
}

.content__background {
  overflow-y: scroll;
  height: 100%;
  width: 950px;
  background-color: #FFFFFF;
  border-radius: 0px 5px 0px 0px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.content__background::-webkit-scrollbar {
  display: none;
}

.content {
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.profile__headers {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.profile__headers--edit {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}

.profile__headers--edit > h2 {
  margin-bottom: 2px;
}

.profile__headers--edit__cheveron {
  display: flex;
  width: 24px;
  height: 24px;
  margin: 0px 0px 10px 5px;
  cursor: pointer;
}

.profile__overview {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.profile__picture {
  width: 20%;
  height: auto;
  padding: 20px;
  border: 1px hidden;
}

.profile__info {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.profile__title {
  font-size: 18px;
}

.profile__email {
  font-size: 16px;
  font-style: italic;
}

.profile__specialisations, .profile_interests {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.myprofile__link {
  color: #000000;
}

.editprofile {
  height: 20px;
  margin-bottom: 11px;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  color: #124040;
}

.editprofile__img {
  display: flex;
  width: 21px;
  height: 21px;
  margin: 0px 5px 0px 5px;
  cursor: pointer;
}

.editprofile__form {
  margin: 30px 0px 0px 0px;
}

.editprofile__form > hr {
  margin: 20px 0px;
}

.editprofile__form__labels {
  display: block;
  float: left;
  width: 170px;
  margin-right: 10px;
  text-align: right;
  font-size: 24px;
}

.editprofile__form__labels:after {
  content: ' : ';
}

.editprofile__form__inputs {
  display: block;
  width: 710px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid #9CBDBD;
  box-sizing: border-box;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}

.editprofile__form__inputs--file {
  display: block;
  width: 710px;
  height: 30px;
  margin: 15px 0px 0px 180px;
  background: #FFFFFF;
  border: 1px solid #9CBDBD;
  box-sizing: border-box;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}

.editprofile__avatar__previews {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.editprofile__avatar__preview--large {
  width: 250px;
  height: auto;
}

.editprofile__avatar__preview--medium {
  width: 175px;
  height: auto;
}

.editprofile__avatar__preview--small {
  width: 100px;
  height: auto;
}

.editprofile__form__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.editprofile__form__buttons__cancel {
  width: 150px;
  height: auto;
  margin: 10px 0px 25px 0px;
  padding: 8px 0px;
  background-color: #9CBDBD;
  text-align: center;
  font-size: 16px;
  color: #FFFFFF;
  border: 4px solid #9CBDBD;
  border-style: outset;
  border-radius: 3px;
  cursor: pointer;
}

.editprofile__form__buttons__cancel:hover {
  cursor: pointer;
  background-color: #9CBDBD; 
  border: 4px solid #9CBDBD;
  border-style: inset;
}

.tag__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 7px;
  margin-bottom: 7px;
}

.tag__wrapper p {
  padding: 0;
  margin: 0;
  padding-left: 10px;
}

.specialisation__tag {
  background-color: #124040;
  border-radius: 3px;
  color: #FFFFFF;
  padding: 10px;
}

.interest__tag {
  background-color: #9CBDBD;
  border-radius: 3px;
  color: #FFFFFF;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.specialisations {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.specialisations__existing {
  width: 150px;
  height: auto;
  margin: 10px 38px 25px 0px;
  padding: 8px 0px;
  background-color: #124040;
  text-align: center;
  font-size: 16px;
  color: #FFFFFF;
  border: 4px solid #124040;
  border-style: outset;
  border-radius: 3px;
}

.specialisations__existing:hover {
  cursor: pointer;
  background-color: #9CBDBD; 
  border: 4px solid #9CBDBD;
  border-style: inset;
}

.editprofile__form--other {
  margin: 0px;
}

.editprofile__form__inputs--other {
  display: block;
  padding-left: 27px;
  width: 710px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid #9CBDBD;
  box-sizing: border-box;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
  background-image: url(images/search.svg);
  background-repeat: no-repeat;
  background-position: 6px center;
}

.editprofile__form__textarea--other {
  display: block;
  width: 710px;
  height: 100px;
  margin-left: 0px;
  background: #FFFFFF;
  border: 1px solid #9CBDBD;
  box-sizing: border-box;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}

.interests {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.interests__existing {
  width: 150px;
  height: auto;
  margin: 10px 38px 25px 0px;
  padding: 8px 0px;
  background-color: #9CBDBD;
  text-align: center;
  font-size: 16px;
  color: #FFFFFF;
  border: 4px solid #9CBDBD;
  border-style: outset;
  border-radius: 3px;
}

.interests__existing:hover {
  cursor: pointer;
  background-color: #9CBDBD; 
  border: 4px solid #9CBDBD;
  border-style: inset;
}

.user__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.cancel__relationship__button {
  width: 160px;
  padding: 5px;
  margin-right: 15px;
  height: auto;
  background-color: #124040;
  font-size: 16px;
  color: #FFFFFF;
  border: 3px solid #124040;
  border-style: outset;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}

.cancel__relationship__button:hover {
  cursor: pointer;
  background-color: #9CBDBD; 
  border: 3px solid #9CBDBD;
  border-style: inset;
}

.user__box {
  width: 95%;
  background-color: #9CBDBD;
  border-radius: 3px;
  border: 2px solid #124040;
  color: #000000;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  transition-duration: 0.1s;
  margin: 20px;
}

.user__box:hover {
  background-color: #124040;
  color: #FFFFFF;
  transition-duration: 0.1s;
}

.user__box:hover .user__box__tag {
  background-color: #9CBDBD;
}

.user__box__icon {
  height: 75%;
  width: auto;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.user__box__info {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.user__box__info p, h2 {
  margin: 0;
}

.user__box__title {
  font-size: 18px;
}

.user__box__topic {
  display: flex;
  flex-direction: row;
}

.user__box__tag {
  color: #FFFFFF;
  font-size: 14px;
  background-color: #124040;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
}

.mentee__box {
  width: 95%;
  background-color: #9CBDBD;
  border-radius: 3px;
  border: 2px solid #124040;
  color: #000000;
  height: 130px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition-duration: 0.3s;
  margin: 20px;
}

.upcoming__sessions {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.add__session__button {
  margin-right: 15px;
  margin-bottom: 10px;
  padding: 5px;
  padding-left: 7px;
  padding-right: 10px;
  border-radius: 3px;
  background-color: #124040;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.add__session__button:hover {
  background-color: #9CBDBD;
}

.plus__symbol {
  height: 20px;
  padding-right: 3px;
  filter: brightness(0) saturate(100%) invert(89%) sepia(29%) saturate(0%) hue-rotate(245deg) brightness(111%) contrast(101%);
}

.session__box {
  border: 2px solid #9CBDBD;
  border-radius: 3px;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  padding-bottom: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.session__box:focus {
  height:200px;
  background-color: #124040;
}

.session__overview {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.session__info {
  display: flex;
  flex-direction: column;
}

.session__title {
  display: flex;
  flex-direction: row;
  color: #124040;
  padding-bottom: 10px;
}

.expand__button {
  display: flex;
  transition-duration: 0.5s;
  cursor: pointer;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #124040;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 3px;
  position: absolute;
  z-index: 1;
}

.plan__of__action {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  display: flex;
  flex-direction: column;
}

.plan__tag {
  background-color: #9CBDBD;
  border-radius: 3px;
  color: #FFFFFF;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 5px;
  width:auto;
  transition: 0.2s ease-out;
}

.plan__tag:hover {
  border: 2px solid #124040;
  margin: 3px;
}

.session__feedback__title {
  margin: 15px;
  margin-left: -18px;
  margin-bottom: 10px;
}

.session__feedback__form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.session__feedback__form input {
  padding: 5px;
  width: 70%;
  height: 20px;
}

.session__feedback__form button {
  width: 140px;
  height: auto;
  margin: 10px;
  padding: 5px;
  text-align: center;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #124040;
  border: 3px solid #124040;
  border-style: outset;
  border-radius: 3px;
  cursor: pointer;
}

.session__feedback__form button:hover {
  border: 3px solid #9CBDBD;
  background-color: #9CBDBD;
  border-style: inset;
}

.session__feedback {
  padding: 10px;
  margin-bottom: 10px;
}

.new__session__container {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  margin-top: 20px;
}

.new__session__labels {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new__session__form {
  margin-top: 5px;
}

.new__session__form input:not(.submit__button), .new__session__form select, textarea {
  padding: 5px;
  margin: 10px;
  border-color: #ccc;
  border: 1px solid #ccc;
}

.general__button__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.general__button {
  width: 180px;
  height: auto;
  margin: 10px 0px 25px 0px;
  padding: 8px 0px;
  background-color: #124040;
  font-size: 16px;
  color: #FFFFFF;
  border: 4px solid #124040;
  border-style: outset;
  border-radius: 3px;
  text-align: center;
}

.general__button:hover {
  cursor: pointer;
  background-color: #9CBDBD; 
  border: 4px solid #9CBDBD;
  border-style: inset;
}

.topics__container {
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.suggestion__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.suggestion__box {
  width: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #124040;
  color: #000000;
  border-radius: 5px;
  background-color: #9CBDBD;
  padding: 20px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.suggestion__box:hover {
  background-color: #124040;
  color: #FFFFFF;
}

.suggestion__box:hover .user__box__tag{
  background-color: #9CBDBD;
}

.suggested__mentor__profile {
  width: 130px;
}

.feedback__form__container {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  margin-top: 20px;
}

.feedback__form__labels {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feedback__form input:not(.submit__button), .feedback__form select, textarea {
  padding: 5px;
  margin: 10px;
  border-color: #ccc;
  border: 1px solid #ccc;
}

.bar {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  width: 265px;
  height: 100%;
  background-color: #124040;
  border-radius: 5px 0px 0px 0px;
}

.bar a {
  width:95%;
}

.bar__options__top {
  display: flex;
  flex-flow: column;
  align-items: center;
  width:100%;
  padding-top: 20px;
}

.bar__options__bottom {
  display: flex;
  flex-flow: column;
  align-items: center;
  width:100%;
  padding-bottom: 20px;
}

.bar__option {
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 10px;
  transition-duration: 0.2s;
}

.bar__option:hover {
  background-color: #9CBDBD;
  transition-duration: 0.2s;
}

.bar__icon {
  padding: 5px;
  left: 12.5%;
  right: 12.5%;
  top: 16.67%;
  bottom: 16.44%;
}

.user__box__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: start;
  height: 100%;
  align-items: center;
}

.inbox__box__reminder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 25px;
}

.inbox__box {
  width: 95%;
  border-radius: 3px;
  border: 2px solid #124040;
  color: #000000;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition-duration: 0.1s;
  margin: 20px;
}

.inbox__ellipse {
  display: flex;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  padding: 10px;
  background: #FFB61D;
  flex-direction: row;
  justify-content: center;
}

.inbox__number {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #124040;
}

.error__box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.multiselect {
  padding: 10px;
}

.inbox__icon__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  padding: 15px;
  text-decoration: none;
  transition-duration: 0.2s;
  cursor: pointer;
}

.inbox__icon__container:hover {
  background-color: #9CBDBD;
  transition-duration: 0.2s;
}

.inbox__icon {
  height: 100%;
  padding: 5px;
}

.edit__milestone__button {
  margin-right: 15px;
  margin-bottom: 10px;
  padding: 5px;
  padding-left: 7px;
  padding-right: 10px;
  border-radius: 3px;
  background-color: #124040;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.edit__milestone__button:hover {
  background-color: #9CBDBD;
}

.edit__symbol {
  height: 15px;
  margin-right: 10px;
  filter: brightness(0) saturate(100%) invert(89%) sepia(29%) saturate(0%) hue-rotate(245deg) brightness(111%) contrast(101%);
}

.relationship__info__box {
  border: 2px solid #9CBDBD;
  border-radius: 3px;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.relationship__info__box p {
  margin: 5px;
}

.relationship__info__box ol {
  margin: 5px;
}

.timeline__link {
  height: 20px;
  margin-bottom: 5px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  color: #124040;
  justify-content: flex-end;
  align-items: flex-end;
}

.timeline__link:hover {
  text-decoration: underline;
}

.timeline__img {
  display: flex;
  width: 28px;
  height: 28px;
  margin: 0px 5px 0px 5px;
  cursor: pointer;
}

.timeline__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
}

.timeline__event {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.timeline__start {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.timeline__start .timeline__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.timeline__start p {
  font-size: 18px;
  margin: 0px 10px;
}

.timeline__line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border: 2px solid #124040;
  border-radius: 100%;
}

.vl {
  border-left: 2px solid #9CBDBD;
  height: 230px;
}

.timeline__item {
  padding: 0px 10px;
}

.timeline__date {
  text-align: center;
  width: 130px;
  border-radius: 3px;
  background-color: #124040;
  color: #FFFFFF;
  padding: 3px 0px;
}

.timeline__date__milestone {
  text-align: center;
  width: 130px;
  border-radius: 3px;
  background-color: #9CBDBD;
  color: #FFFFFF;
  padding: 3px 0px;
}

.timeline__title {
  padding: 10px 5px;
  padding-bottom: 0px;
  font-size: 20px;
  font-weight: 500;
}

.timeline__content {
  padding: 0px 5px;
}

.milestones__list {
  display: flex;
  flex-direction: column;
  margin: 20px 30px;
}

.milestones__container {
  margin: 30px;
}

.milestone {
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.milestone__done {
  background-color: #9CBDBD;
  color:#FFFFFF;
  padding: 5px 7px;
  border: 2px solid #9CBDBD;
  border-radius: 3px;
  margin-right: 15px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.milestone__done:hover {
  border: 2px solid #124040;
  transition-duration: 0.2s;
}

.message__top__bar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px 10px 10px 10px;
}

.message__participant {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.participant__info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 10px;
}

.participant__name {
  font-size: 18px;
  color: #000000;
}

.participant__email {
  font-size: 16px;
  font-style: italic;
  color: #124040;
}

.participant__icon {
  width: 50px;
}

.message__window {
  display: flex;
  flex-direction: column;
}

.message__box__1 {
  display: flex;
  flex-direction: row;
  color: #000000;
  align-self: flex-start; 
  padding: 5px;
}

.message__box__2 {
  display: flex;
  flex-direction: row;
  color: #FFFFFF;
  align-self: flex-end;
  padding: 5px;
}

.message__text__1 {
  background-color: #9CBDBD;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 15px;
  margin-left: 15px;
  border-radius: 3px;
}

.message__text__2 {
  background-color: #124040;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 15px;
  margin-right: 15px;
  border-radius: 3px;
}

.message__divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #124040;
  margin: 10px 0px;
}

.message__divider p {
  font-size: 12px;
  color: #9CBDBD;
  font-weight: 550;
  padding: 0;
  margin: 0px 10px;
}

.message__bar {
  background-color: #9CBDBD;
  width: 950px;
  height: 60px;
  bottom: 100px;
  position: absolute;
  top: calc(90vh + 14px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.message__area {
  width: 750px;
  height: 33px;
  border-radius: 3px;
  border: none;
  margin: 0px 15px;
}

.message__button1 {
  width: 30px;
  margin-right: 15px;
  cursor: pointer;
}

.message__button2 {
  width: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.message__button3 {
  width: 30px;
  margin-left: 10px;
  cursor: pointer;
}

.back__button {
  color: #000000;
  margin-top: 20px;
}

