@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

a {
  text-decoration: none;
  color: #FFFFFF;
}

a:visited {
  text-decoration: none;
}

body > #root > div {
  height: 100vh;
}

body {
  font-family: 'Nunito', sans-serif;
  overflow: auto;
}

h1 {
  font-family: 'Alegreya', serif;
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 2px;
}

h2 {
  font-family: 'Alegreya', serif;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 2px;
}

hr {
  width:100%;
  border: 1px dashed #9CBDBD;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 74px;
  width: 100%;
  background-color: #124040;
}

.header__logo {
  cursor: pointer;
  font-family: 'Alegreya', serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  width: 175px;
  margin-left: 6px;
  font-size: 36px;
  color: #FFFFFF;
}

.header_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__signinup {
  margin-right: 2px;
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
  padding: 22px;
  text-decoration: none;
  transition-duration: 0.2s;
}

.header__signinup:hover {
  background-color: #9CBDBD; 
  transition-duration: 0.2s;
}

.frontpage {
  overflow: auto;
  display: flex;
  margin: 15vh auto 0;
  width: 80vw;
  height: 100%;
}

.frontpage__block {
  width: 1300px;
  height: auto;
  margin: 0 auto;
}

.frontpage__title {
  font-family: 'Alegreya', serif;
  position: absolute;
  width: 800px;
  font-size: 82px;
  color: #000000;
}

.frontpage__subtitle {
  position: absolute;
  width: 200px;
  margin-top: 230px;
  font-size: 20px;
  font-weight: 600;
  color: #000000;
}

.frontpage__img {
  position: absolute;
  width: 350px;
  height: auto;
  margin: 200px 0px 0px 500px;
}

.frontpage__background {
  position: absolute;
  width: 1440px;
  height: 950px;
  left: 0px;
  top: 74px;
}

.login__form__area {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
  height: auto;
  margin: 70px 0px 0px 900px;
  border: 2px solid #9CBDBD;
  border-radius: 3px;
}

.login__form__title {
  font-family: 'Alegreya', serif;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px 0px;
  font-size: 36px;
  color: #000000;
}

.login__form__title hr {
  width: 90px;
  margin: 0px 10px;
  border: 1px solid #9CBDBD;
}

.login__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
}

::placeholder { 
  padding-left: 5px;
  color: #9CBDBD;
}

label {
  padding-bottom: 10px;
}

.login__form label {
  width:90%;
}

.login__form input:not(.login__form__submit) {
  font-family: 'Nunito', sans-serif;
  width: 100%;
  height: 30px;
  margin-top: 10px;
  border: 1px solid #9CBDBD;
  font-size: 14px;
  font-weight: 550;
  border-radius: 3px;
}

.login__form__submit {
  width: 150px;
  height: auto;
  margin: 10px 0px 25px 0px;
  padding: 8px 0px;
  background-color: #124040;
  font-size: 16px;
  color: #FFFFFF;
  border: 4px solid #124040;
  border-style: outset;
}

.login__form__submit:hover {
  cursor: pointer;
  background-color: #9CBDBD; 
  border: 4px solid #9CBDBD;
  border-style: inset;
}

.register__form__area {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
  height: auto;
  margin: 70px 0px 0px 900px;
  border: 2px solid #9CBDBD;
  border-radius: 3px;
}

.register__form__title {
  font-family: 'Alegreya', serif;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px 0px;
  font-size: 36px;
  color: #000000;
}

.register__form__title hr {
  width: 90px;
  margin: 0px 10px;
  border: 1px solid #9CBDBD;
}

.register__form { 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
}

.register__form label {
  width:90%;
}

.register__form input:not(.register__form__submit) {
  width:100%;
  font-family: 'Nunito', sans-serif;
  height: 30px;
  margin-top: 10px;
  border: 1px solid #9CBDBD;
  font-size: 14px;
  font-weight: 550;
  border-radius: 3px;
}

.register__names {
  width:90%;
  display: flex;
  flex-direction: row;  
  justify-content: space-between;
  align-items: center;
}

.register__names label {
  display: inline-block;
  width: 47%;
}

.register__form__submit {
  width: 150px;
  height: auto;
  margin: 10px 0px 25px 0px;
  padding: 8px 0px;
  background-color: #124040;
  font-size: 16px;
  color: #FFFFFF;
  border: 4px solid #124040;
  border-style: outset;
  transition-duration: 0.3s;
}

.register__form__submit:hover {
  cursor: pointer;
  background-color: #9CBDBD; 
  border: 4px solid #9CBDBD;
  border-style: inset;
  transition-duration: 0.3s;
}

.background {
  background-image: url(./images/Background.svg);
  background-size: cover;
  min-height: calc(100vh - 74px);
  display: flex;
  justify-content: center;
  background-attachment: fixed;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 6vh;
  height: 84vh;
}

.content__background {
  overflow-y: scroll;
  height: 100%;
  width: 950px;
  background-color: #FFFFFF;
  border-radius: 0px 5px 0px 0px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.content__background::-webkit-scrollbar {
  display: none;
}

.content {
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.profile__overview {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.profile__picture {
  width: 20%;
  height: auto;
  padding: 20px;
  border: 1px hidden;
}

.profile__info {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.profile__title {
  font-size: 18px;
}

.profile__email {
  font-size: 16px;
  font-style: italic;
}

.profile__specialisations, .profile_interests {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.tag__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 7px;
  margin-bottom: 7px;
}

.tag__wrapper p {
  padding: 0;
  margin: 0;
  padding-left: 10px;
}

.specialisation__tag {
  background-color: #124040;
  border-radius: 3px;
  color: #FFFFFF;
  padding: 10px;
}

.interest__tag {
  background-color: #9CBDBD;
  border-radius: 3px;
  color: #FFFFFF;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.user__box {
  width: 95%;
  background-color: #9CBDBD;
  border-radius: 3px;
  border: 2px solid #124040;
  color: #000000;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  transition-duration: 0.3s;
  margin: 20px;
}

.user__box:hover {
  background-color: #124040;
  color: #FFFFFF;
  transition-duration: 0.3s;
}

.user__box:hover .user__box__tag {
  background-color: #9CBDBD;
}

.user__box__icon {
  height: 75%;
  width: auto;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.user__box__info {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.user__box__info p, h2 {
  margin: 0;
}

.user__box__title {
  font-size: 18px;
}

.user__box__topic {
  display: flex;
  flex-direction: row;
}

.user__box__tag {
  color: #FFFFFF;
  font-size: 14px;
  background-color: #124040;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
}

.mentee__box {
  width: 95%;
  background-color: #9CBDBD;
  border-radius: 3px;
  border: 2px solid #124040;
  color: #000000;
  height: 130px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  transition-duration: 0.3s;
  margin: 20px;
}

.session__box {
  border: 2px solid #9CBDBD;
  border-radius: 3px;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}

.session__info {
  display: flex;
  flex-direction: column;
}

.session__title {
  display: flex;
  flex-direction: row;
  color: #124040;
  padding-bottom: 10px;
}


.session__expand {
  display: flex;
}

.bar {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  width: 265px;
  height: 100%;
  background-color: #124040;
  border-radius: 5px 0px 0px 0px;
}

.bar__options__top {
  display: flex;
  flex-flow: column;
  align-items: center;
  width:95%;
  padding-top: 20px;
}

.bar__options__bottom {
  display: flex;
  flex-flow: column;
  align-items: center;
  width:95%;
  padding-bottom: 20px;
}

.bar__option {
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 10px;
  transition-duration: 0.2s;
}

.bar__option:hover {
  background-color: #9CBDBD;
  transition-duration: 0.2s;
}

.bar__icon {
  padding: 5px;
  left: 12.5%;
  right: 12.5%;
  top: 16.67%;
  bottom: 16.44%;
}
