@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

body {
  font-family: 'Nunito', sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 74px;
  width: 100%;
  background-color: #124040;
}

.header__logo {
  cursor: pointer;
  font-family: 'Alegreya', serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  width: 175px;
  margin-left: 6px;
  font-size: 36px;
  color: #FFFFFF;
}

.header__signinup {
  margin-right: 2px;
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
  padding: 22px;
}

.header__signinup:hover {
  background-color: #9CBDBD; 
}

.frontpage {
  width: 60%;
  margin: auto;
  padding-top: 10%;
  align-items: center;
}

.frontpage__title {
  font-family: 'Alegreya', serif;
  position: absolute;
  width: 800px;
  font-size: 82px;
  color: #000000;
}

.frontpage__subtitle {
  position: absolute;
  width: 200px;
  margin-top: 230px;
  font-size: 20px;
  font-weight: 600;
  color: #000000;
}

.frontpage__img {
  position: absolute;
  width: 350px;
  height: auto;
  margin: 200px 0px 0px 500px;
}

.login__form__area {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 350px;
  height: auto;
  margin: 70px 0px 0px 900px;
  border: 2px solid #9CBDBD;
  border-radius: 3px;
}

.login__form__title {
  font-family: 'Alegreya', serif;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px 0px;
  font-size: 36px;
  color: #000000;
}

.login__form__title hr {
  width: 90px;
  margin: 0px 10px;
  border: 1px solid #9CBDBD;
}

.login__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

::placeholder { 
  padding-left: 5px;
  color: #9CBDBD;
}

label {
  padding-bottom: 10px;
}

.login__form input:not(.login__form__submit) {
  font-family: 'Nunito', sans-serif;
  width: 270px;
  height: 30px;
  margin-top: 10px;
  border: 1px solid #9CBDBD;
  font-size: 14px;
  font-weight: 550;
  border-radius: 3px;
}

.login__form__submit {
  width: 150px;
  height: auto;
  margin: 10px 0px 25px 0px;
  padding: 8px 0px;
  background-color: #124040;
  font-size: 16px;
  color: #FFFFFF;
  border: 4px solid #124040;
  border-style: outset;
}

.login__form__submit:hover {
  cursor: pointer;
  background-color: #9CBDBD; 
  border: 4px solid #9CBDBD;
  border-style: inset;
}

.register__form__area {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
  height: auto;
  margin: 70px 0px 0px 900px;
  border: 2px solid #9CBDBD;
  border-radius: 3px;
}

.register__form__title {
  font-family: 'Alegreya', serif;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px 0px;
  font-size: 36px;
  color: #000000;
}

.register__form__title hr {
  width: 90px;
  margin: 0px 10px;
  border: 1px solid #9CBDBD;
}

.register__form { 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.register__form label {
  width:90%;
}

.register__form input:not(.register__form__submit) {
  width:100%;
  font-family: 'Nunito', sans-serif;
  height: 30px;
  margin-top: 10px;
  border: 1px solid #9CBDBD;
  font-size: 14px;
  font-weight: 550;
  border-radius: 3px;
}

.register__names {
  width:90%;
  display: flex;
  flex-direction: row;  
  justify-content: space-between;
  align-items: center;
}

.register__names label {
  display: inline-block;
  width: 47%;
}

.register__form__submit {
  width: 150px;
  height: auto;
  margin: 10px 0px 25px 0px;
  padding: 8px 0px;
  background-color: #124040;
  font-size: 16px;
  color: #FFFFFF;
  border: 4px solid #124040;
  border-style: outset;
}

.register__form__submit:hover {
  cursor: pointer;
  background-color: #9CBDBD; 
  border: 4px solid #9CBDBD;
  border-style: inset;
}